<cluster-admin-navbar></cluster-admin-navbar>
<div class="dashboard-container">
  <section class="dashboard">
    <div class="main-count">
      <div class="main-count-tab">
        <p>users</p>
        <p>{{ analytics.users }}</p>
      </div>
      <div class="main-count-tab">
        <p>active user</p>
        <p>{{ analytics.users }}</p>
      </div>
      <div class="main-count-tab">
        <p>articles</p>
        <p>{{ analytics.articles }}</p>
      </div>
      <div class="main-count-tab">
        <p>snippets</p>
        <p>{{ analytics.snippets }}</p>
      </div>
      <div class="main-count-tab">
        <p>course publish</p>
        <p>{{ analytics.courses }}</p>
      </div>
      <div class="main-count-tab">
        <p>tags</p>
        <p>{{ analytics.tags }}</p>
      </div>
    </div>
    <div></div>
  </section>
</div>
