<div>
  <div class="view-post-top-buttons">
    <div>
      <button
        class="btn btn-sm btn-blue"
        [routerLink]="['../../update/', post.id]"
      >
        edit this post
      </button>
      <button class="btn btn-sm btn-red" (click)="deletePost(post.id)">
        delete post
      </button>
    </div>
    <button class="ml-auto btn btn-sm btn-outline-gray">
      {{ post.type }}
    </button>
  </div>

  <article>
    <div class="title">
      <h1>{{ post.title }}</h1>
    </div>
    <div class="dotted-line"></div>

    <section class="content w-9/12">
      <img
        *ngIf="post.type === PostType.ARTICLE"
        class="content-img"
        [src]="post.postImageUrl"
        [alt]="post.title"
      />
      <div class="content-box">
        <div class="description w-2/3">
          <p>{{ post.description }}</p>
        </div>
        <a
          class="auther"
          href="https://twitter.com/_ajay_kumbhar"
          target="_blank"
        >
          <img
            src="https://pbs.twimg.com/profile_images/1283074895291641856/uEVxzrki_bigger.jpg"
            alt="ajay kumbhar"
          />
          <div class="auther-name"><span>by</span> ajay kumbhar</div>
        </a>
        <div class="content-info">
          <div class="dates">
            <p class="created">created {{ post.created_at | date }}</p>
            <p class="tag btn-gray">
              last updated {{ post.updated_at | date }}
            </p>
          </div>
          <div class="">
            <span
              class="tag btn-gray"
              [class]="'tag-' + tag.name"
              *ngFor="let tag of post.tags"
            >
              #{{ tag.name }}
            </span>
          </div>
        </div>
      </div>

      <div class="content-content">
        <cluster-quill-editor
          [viewToolbar]="false"
          [htmlString]="post.content"
        ></cluster-quill-editor>
      </div>
    </section>
  </article>
</div>
