<div class="form-group">
  <label for="addtag">Add New Tag</label>
  <input
    type="text"
    id="addtag"
    maxLength="21"
    minlength="1"
    #addTagText
    [value]="editTagInput.name"
    (keyup.enter)="addTag(addTagText)"
  />
  <button class="btn btn-sm btn-blue" (click)="addTag(addTagText)">
    {{ tagMode.add ? "add tag" : "update tag" }}
  </button>
  <button
    class="btn btn-sm btn-red"
    *ngIf="tagMode.edit"
    (click)="cancelUpdate()"
  >
    cancel update
  </button>
</div>

<div class="tags">
  <cluster-builder-tag
    *ngFor="let tag of tags"
    [tag]="tag"
    (deleteTag)="deleteTag($event)"
    (editTag)="editTag($event)"
  ></cluster-builder-tag>
</div>
