<div class="m-3">
  <section class="dashboard">
    <div class="main-count">
      <div class="main-count-tab">
        <p>users</p>
        <p>32</p>
      </div>
      <div class="main-count-tab">
        <p>active user</p>
        <p>2</p>
      </div>
      <div class="main-count-tab">
        <p>articles</p>
        <p>22</p>
      </div>
      <div class="main-count-tab">
        <p>snippets</p>
        <p>20</p>
      </div>
      <div class="main-count-tab">
        <p>course publish</p>
        <p>10</p>
      </div>
      <div class="main-count-tab">
        <p>tags</p>
        <p>100</p>
      </div>
    </div>
    <div></div>
  </section>
</div>
