<div class="all-post-top-buttons">
  <button class="btn btn-sm btn-blue" routerLink="./create">
    create new course
  </button>
</div>
<div class="articles">
  <article *ngFor="let course of courses">
    <img [src]="course.courseImageUrl" [alt]="course.title" />
    <div class="article-content">
      <title>{{ course.title }}</title>
      <p>{{ course.description }}</p>
    </div>
    <button
      class="btn btn-sm btn-orange"
      [routerLink]="'./update/' + course.id"
    >
      manage course articles
    </button>
    <button class="btn btn-sm btn-red" (click)="deleteCourse(course.id)">
      delete course
    </button>
  </article>
</div>
