<div class="flex justify-between items-center">
  <button class="btn btn-sm btn-blue" routerLink="./create">
    create new post
  </button>
  <select
    id="post-type"
    class="btn btn-sm btn-gray px-4"
    [(ngModel)]="postType"
    (change)="getOtherPostType()"
  >
    <option value="article" selected>article</option>
    <option value="snippet">snippet</option>
  </select>
</div>

<div class="grid grid-cols-3 gap-4" *ngIf="postType === 'snippet'">
  <cluster-single-snippet
    *ngFor="let snippet of snippets"
    [snippet]="snippet"
  ></cluster-single-snippet>
</div>
<div class="grid grid-cols-3 gap-4" *ngIf="postType === 'article'">
  <cluster-single-article *ngFor="let article of articles" [article]="article">
  </cluster-single-article>
</div>
