<section>
  <div class="preview">
    <button (click)="toggleViewPreview()" class="btn btn-sm btn-red close">
      close
    </button>
    <button class="tag btn-red">{{ postBuilder.type }}</button>
    <div class="title">
      <h1>{{ postBuilder.title }}</h1>
    </div>
    <div class="dashed-line"></div>
    <div class="description">
      <p>{{ postBuilder.description }}</p>
    </div>
    <div class="selected-tags">
      <span class="tag btn-red" *ngFor="let tag of postBuilder.tags">
        #{{ tag.name }}
      </span>
    </div>
    <div class="ql-container ql-snow" style="border: none">
      <div class="ql-editor" [innerHTML]="postBuilder.content"></div>
    </div>
  </div>
</section>
