<div>
  <div class="flex items-center justify-between">
    <button (click)="viewPreview = !viewPreview" class="btn btn-sm btn-blue">
      show preview
    </button>
    <button class="btn btn-sm btn-green" (click)="postPost()">
      <ng-container *ngIf="postUpdatingMode; else updateModeFalse">
        update
      </ng-container>
      <ng-template #updateModeFalse> post </ng-template>
      {{ postBuilder.type }}
    </button>
  </div>

  <div class="form-group">
    <label for="post-type">post type</label>
    <select id="post-type" [(ngModel)]="postBuilder.type">
      <option value="article" selected>article</option>
      <option value="snippet">snippet</option>
    </select>
  </div>
  <div class="form-group">
    <label for="post-title">{{ postBuilder.type }} title</label>
    <input type="text" id="post-title" [(ngModel)]="postBuilder.title" />
  </div>
  <cluster-upload-post-image
    [imageFromUpload]="postBuilder.postImageUrl"
    [postType]="postBuilder.type"
    (postImageLinkUrl)="setPostImageURL($event)"
  ></cluster-upload-post-image>
  <div class="form-group">
    <label for="post-description">{{ postBuilder.type }} description</label>
    <textarea
      name=""
      id="post-description"
      rows="2"
      [(ngModel)]="postBuilder.description"
    ></textarea>
  </div>
  <cluster-build-post-manage-tags
    [buildType]="postBuilder.type"
    [snippetTags]="postBuilder.tags"
    (addTagEmitter)="addTag($event)"
    (removeTagEmitter)="removeTag($event)"
  ></cluster-build-post-manage-tags>
  <div class="form-group">
    <label for="post">{{ postBuilder.type }} content </label>
  </div>

  <cluster-quill-editor
    [htmlString]="postBuilder.content"
    (editorChangeEmitter)="editorChangeEmitter($event)"
  ></cluster-quill-editor>
  <cluster-build-post-preview
    *ngIf="viewPreview"
    [postBuilder]="postBuilder"
    (viewPreviewEmmitter)="viewPreview = !viewPreview"
  >
  </cluster-build-post-preview>
</div>
