<!-- <div class="relative">
  <button
    (click)="viewPreview = !viewPreview"
    class="px-2 pb-1 text-sm tracking-wider capitalize font-medium bg-blue-400 text-blue-50 text-right"
  >
    show preview
  </button>
  <cluster-quill-editor
    (editorChangeEmitter)="editorChangeEmitter($event)"
  ></cluster-quill-editor>
  <section
    *ngIf="viewPreview"
    class="absolute top-0 left-0 w-screen h-screen overflow-y-auto bg-black bg-opacity-50"
  >
    <div class="m-20 bg-white shadow-md">
      <button
        (click)="viewPreview = !viewPreview"
        class="px-2 pb-1 text-sm tracking-wider capitalize font-medium bg-red-400 text-red-50 absolute top-10 right-20"
      >
        close
      </button>
      <div
        class="ql-container ql-snow"
        style="font-family: 'Open Sans', sans-serif"
      >
        <div class="ql-editor" [innerHTML]="htmlString"></div>
      </div>
    </div>
  </section>
</div> -->
<div class="flex">
  <div class="w-16">
    <cluster-admin-sidebar></cluster-admin-sidebar>
  </div>
  <div class="w-full h-screen overflow-y-auto">
    <router-outlet></router-outlet>
  </div>
</div>
