.sidebar {
  box-shadow: 4px 0 10px -3px #c1c1c1;
  @apply w-0 h-0 bg-white hidden;
  li {
    @apply p-4 text-2xl text-gray-500 relative flex items-center;

    img {
      @apply w-full h-14;
    }

    @keyframes zoop-in {
      from {
        transform: translateX(-20px);
      }
      to {
        transform: translateX(0px);
      }
    }

    span {
      display: none;
      @apply px-2 py-1 tracking-wider text-sm capitalize  absolute left-16  bg-gray-400 text-gray-50 whitespace-nowrap font-medium rounded-sm z-30;
    }

    &:first-child {
      @apply p-0;
    }

    &:hover span {
      animation-name: zoop-in;
      animation-duration: 500ms;
      display: block;
    }
  }
  .active {
    @apply text-gray-700;
  }
}

@screen md {
  .sidebar {
    @apply block w-16 h-screen;
  }
}

.bar {
  cluster-navbar {
    box-shadow: 4px 0 10px -3px #c1c1c1;
    @apply w-screen h-14 bg-white block fixed top-0 left-0;

    ul {
      @apply pr-4 text-2xl text-gray-500  flex justify-between items-center;

      img {
        @apply w-14 h-full;
      }
    }
  }

  .bottom-nav-bar {
    box-shadow: 4px 0 10px -3px #c1c1c1;
    @apply w-screen h-14 bg-white block fixed bottom-0 left-0;

    ul {
      @apply px-4 text-2xl text-gray-500  w-full h-full flex justify-between items-center;
    }

    .active {
      @apply text-3xl text-gray-700;
    }
  }
}

@screen md {
  .bar {
    @apply hidden;
    @apply w-0 h-0;
  }
}

// .bottom-bar {
//   box-shadow: 4px 0 10px -3px #c1c1c1;
//   @apply w-0 h-screen bg-white hidden;
// }
