<div>
  <div class="build-post-top-buttons">
    <button
      class="btn btn-sm btn-green"
      *ngIf="!courseUpdatingMode"
      (click)="postCourse()"
    >
      post course
    </button>
  </div>

  <div class="form-group">
    <label for="post-title">course title</label>
    <input
      type="text"
      id="post-title"
      [(ngModel)]="courseBuilder.title"
      [disabled]="courseUpdatingMode"
    />
  </div>

  <div class="form-group">
    <label for="post-poster"> course poster</label>
    <input
      type="file"
      id="post-poster"
      *ngIf="!courseUpdatingMode && !courseBuilder.courseImageUrl"
      (change)="onFileChanged($event)"
      [disabled]="courseUpdatingMode"
    />
    <img
      *ngIf="courseUpdatingMode || courseBuilder.courseImageUrl"
      [src]="courseBuilder.courseImageUrl"
      alt=""
    />
  </div>

  <div class="form-group">
    <label for="post-description">course description</label>
    <textarea
      name=""
      id="post-description"
      rows="2"
      [(ngModel)]="courseBuilder.description"
      [disabled]="courseUpdatingMode"
    ></textarea>
  </div>
  <div class="form-group" *ngIf="courseUpdatingMode">
    <label for="post-description">select type of post you want to add :</label>
    <select [(ngModel)]="typeOfPostWantToAdd" (change)="getPostOfType()">
      <option value="article">article</option>
      <option value="snippet">snippet</option>
    </select>
  </div>
  <div class="form-group" *ngIf="courseUpdatingMode">
    <label for="post-description">course articles</label>
    <select (change)="addArticleToCourse(postID.value)" #postID>
      <option value="" selected disabled>select from here</option>
      <option *ngFor="let post of posts" [value]="post.id">
        {{ post.title }}
      </option>
    </select>
  </div>
  <div class="dotted-line" *ngIf="courseUpdatingMode"></div>
  <div
    *ngFor="let post of userAddedArticle"
    class="border shadow"
    style="padding: 1rem; margin: 1rem 0"
  >
    <div class="flex justify-between items-end">
      <div>
        <p class="text-sm font-bold">{{ post.title }}</p>
        <p class="text-xs">{{ post.description }}</p>
      </div>
      <div>
        <button
          class="btn btn-sm btn-red"
          (click)="removeArticleFromCourse(post.id)"
        >
          remove
        </button>
      </div>
    </div>
  </div>
</div>
