pre {
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: "Open Sans", sans-serif monospace;
  font-weight: 500;
  padding: 1rem;
}

.ql-container.ql-snow {
  border: none;
  iframe {
    width: 892px;
    height: 502px;
  }
}

.ql-snow {
  .ql-editor {
    font-family: "Open Sans", sans-serif;
    padding: 0;
    color: #454e56;
    border: none;
    display: flex;
    flex-direction: column;
    iframe {
      align-self: center;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a {
      margin-bottom: 0.5rem;
      font-family: inherit;
      font-weight: 700;
      line-height: 1.2;
      color: #12181b;
    }
    h1 {
      font-size: 2.5rem;
    }
    h2 {
      font-size: 2rem;
    }
    h3 {
      font-size: 1.75rem;
    }
    a,
    ul,
    ol,
    p,
    pre {
      font-size: 0.875rem;
      font-weight: 500;
      letter-spacing: 1px;
    }
    p,
    pre,
    ul,
    ol {
      margin: 1rem 0;
    }
    a {
      text-decoration: none;
      color: rgba(96, 165, 250, 1);
    }

    pre {
      padding: 1rem;
      font-family: "Open Sans", sans-serif monospace;
    }
  }
}
.ql-snow .ql-editor pre.ql-syntax {
  background-color: #f1f1f1;
  color: #292929;
  overflow: visible;
}
