<div class="w-full h-full">
  <section
    id="introduction"
    class="flex flex-row-reverse justify-evenly items-center"
  >
    <div class="w-1/2 relative">
      <style></style>
      <div
        class="shadow-2xl bg-gradient-to-b from-purple-500 to-pink-400 w-96 h-64 rounded transform -rotate-6 absolute"
      ></div>
      <div
        class="shadow-2xl bg-gradient-to-b to-indigo-400 from-pink-400 w-96 h-64 rounded transform rotate-12 absolute"
      ></div>
      <img
        src="../../../../assets/home.gif"
        alt="cluster.io intro vedio"
        class="shadow-2xl w-96 h-60 rounded transform rotate-2 border"
      />
    </div>
    <div class="w-1/2 p-20 tracking-wide">
      <h1 class="text-5xl font-bold">
        Let's <br />
        Learn {{ skill }}
      </h1>
      <p class="mt-3 font-medium">
        Start your journey to become a web developer today. Join our community
        to explore more in web developement.
      </p>
      <div>
        <button class="mt-3 px-10 btn btn-red">Let's start</button>
        <button class="mt-3 px-10 btn btn-green">Join Discord</button>
      </div>
      <p class="mt-3 text-gray-500">
        ⭐⭐⭐⭐⭐ Trused by over {{ studentCount }} students
      </p>
    </div>
  </section>
  <section class="mt-20">
    <div class="text-center text-xl font-light">
      <p>The free best web developement course in the market</p>
    </div>
    <div class="mt-10 flex justify-center">
      <div class="m-4 w-48 py-5 border rounded text-center bg-white z-10">
        <p class="text-5xl font-bold text-green-500">100</p>
        <p class="mt-2 text-xl text-gray-500 font-light">Happy Student</p>
      </div>
      <div class="m-4 w-48 py-5 border rounded text-center bg-white z-10">
        <p class="text-5xl font-bold text-green-500">10</p>
        <p class="mt-2 text-xl text-gray-500 font-light">Courses</p>
      </div>
      <div class="m-4 w-48 py-5 border rounded text-center bg-white z-10">
        <p class="text-5xl font-bold text-green-500">102</p>
        <p class="mt-2 text-xl text-gray-500 font-light">Articles</p>
      </div>
      <div class="m-4 w-48 py-5 border rounded text-center bg-white z-10">
        <p class="text-5xl font-bold text-green-500">100</p>
        <p class="mt-2 text-xl text-gray-500 font-light">Snippets</p>
      </div>
    </div>
  </section>
  <section class="w-full relative h-80">
    <div class="w-full absolute -top-20 bg-gray-100 pb-20 z-0">
      <div class="text-center mt-40 text-gray-600">
        <p class="text-5xl font-bold">What you’ll learn</p>
        <p class="mt-4">
          We designed our courses that helped identify pain points of learning
          <br />
          web developement process. Together, we shaped the new standard.
        </p>
      </div>
    </div>
  </section>
  <section class="course overview"></section>
  <section class="flex items-center"></section>
</div>
