<div id="home">
  <section id="introduction">
    <div class="w-1/2 block1">
      <div class="gradient1"></div>
      <div class="gradient2"></div>
      <img src="../../../../assets/home.gif" alt="cluster.io intro video" />
    </div>
    <div class="w-1/2 block2">
      <h1>
        Let's <br />
        Learn {{ skill }}
      </h1>
      <p>
        Start your journey to become a web developer today. Join our community
        to explore more in web developement.
      </p>
      <button class="btn btn-outline-red">Get Stated</button>
    </div>
  </section>
  <div class="mt-20"></div>
  <div class="dotted-line"></div>
  <section id="new-launched">
    <h1 class="title">New Courses</h1>
    <div class="articles">
      <article *ngFor="let course of courses">
        <img [src]="course.courseImageUrl" [alt]="course.title" />
        <div class="article-content">
          <title>{{ course.title }}</title>
          <p>{{ course.description }}</p>
        </div>
        <button class="btn btn-sm btn-green">start</button>
      </article>
    </div>
  </section>
  <div class="dotted-line"></div>
  <section id="new-launched">
    <h1 class="title">New Articles</h1>
    <div class="articles">
      <article *ngFor="let article of articles">
        <img [src]="article.postImageUrl" [alt]="article.title" />
        <div class="article-content">
          <title>{{ article.title }}</title>
          <p>{{ article.description }}</p>
        </div>
      </article>
    </div>
  </section>
</div>
