<div class="flex justify-between items-end">
  <span class="main-title">Account</span>
  <div>
    <button class="btn btn-red btn-sm" (click)="logout()">log out</button>
  </div>
</div>
<div class="dotted-line"></div>
<section>
  <div class="text-gray-700 tracking-wide">
    <div class="shadow w-full px-5 md:px-10 py-2 md:py-4 border">
      <p class="text-2xl md:text-4xl font-bold">{{ user.username }}</p>
      <p class="mt-1 md:mt-3 text-base md:text-2xl">{{ user.email }}</p>
    </div>
  </div>
</section>
