<div class="form-group">
  <label for="post-tag">{{ buildType }} tags</label>
  <div *ngIf="snippetTags.length > 0">
    <p class="btn btn-sm btn-gray inline-block" *ngFor="let tag of snippetTags">
      <span>{{ tag.name }}</span>
      <span class="selected-tag" (click)="removeTag(tag.id)">
        <fa-icon [icon]="deleteTagIcon"></fa-icon>
      </span>
    </p>
  </div>
  <select (change)="addTag(selectedTag.value)" #selectedTag>
    <option selected disabled>select {{ buildType }} tag</option>
    <option *ngFor="let tag of tags" [value]="tag.id">{{ tag.name }}</option>
  </select>
</div>
